@import '../../bilo-ui.scss';

$select-height: 2em;
select {
  position: relative;
  width: calc(100%);
  padding-right: 2.5em;
  
  height: $select-height;
  line-height: $select-height;
  text-indent: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $col-active;
  font-size: 1em;
  border: none;
  outline: none;
  border-bottom: 1px solid $col-lightgrey;
  margin-bottom: 0.5em;

  &:hover {
      border-bottom: 1px solid $col-active;
  }
  &:focus {
      border-bottom: 2px solid $col-active;
  }
  /* remove default arrow */
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  /* add custom arrow */
  background:
    linear-gradient(45deg, transparent 50%, $col-active 50%),
    linear-gradient(135deg, $col-active 50%, transparent 50%);
  background-position:
    calc(100% - 1.2em) calc(1em), 
    calc(100% - 1.2em + 5px) calc(1em),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  background-color: rgba(grey, 0.1);
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-style {
  border: 1px solid #ccc;
  width: 120px;
  // border-radius: 3px;
  overflow: hidden;
  // background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}