@import '../../bilo-ui.scss';

$select-height: 3em;
select {
  position: relative;
  width: 100%;
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  // background-image: url(...);   /* add custom arrow */
  height: $select-height;
  line-height: $select-height;
  // text-indent: calc(#{$select-height} / 2);
  // input style
  text-indent: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  // padding-top: 1em;
  // padding-bottom: 1em;
  background: rgba(grey, 0.1);
  color: $col-active;
  font-size: 1em;
  border: none;
  outline: none;
  border-bottom: 1px solid $col-lightgrey;
  border-radius: 4px; 
  margin-bottom: 0.5em;
  &:hover {
      border-bottom: 1px solid $col-active;
  }
  &:focus {
      border-bottom: 2px solid $col-active;
  }
}

.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  // background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}