@import '../../bilo-ui.scss';

.app-body {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - #{$dim-navbar-height});
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}