@import '../../bilo-ui.scss';

.app-body {
    position: relative;
    // top: $dim-navbar-height;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{$dim-navbar-height});
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}