@import '../../bilo-ui.scss';

.input {
  position: relative;
  width: calc(100% - 1em);
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(grey, 0.1);
  color: $col-active;
  font-size: 1em;
  border: none;
  outline: none;
  border-bottom: 1px solid $col-lightgrey;
  // border-radius: 4px;
  margin-bottom: 0.25em;
  &:hover {
      border-bottom: 1px solid $col-active;
  }
  &:focus {
      border-bottom: 2px solid $col-active;
  }
}

.textarea {
  @extend .input;
  margin-bottom: 1em;
  max-width: 100%;
}

// input,input:hover,input:focus,contenteditable,
// textarea, textarea:hover,textarea:focus {
//     @extend .input;
//     color: $col-active;
//     border-color: $col-active;
//     margin-bottom: 1em;
// }