@import '../../bilo-ui.scss';

.scroll {
  max-height: 10em;
  overflow: hidden;
  overflow-y: auto;
}
.list-container {
  background: white;
  $list-size: 0.5em;
  .active {
    color: $col-active;
  }
  .item {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    padding: $list-size;
    width: calc(100% - 2 * #{$list-size});
    border-bottom: 1px solid rgba(grey, 0.3);
    &:hover {
      @extend .active;
      background: rgba($col-active, 0.1);
    }

    .checkbox {
      margin-right: 1em;
    }

    .icon {
      margin-right: 1em;
    }
  }
}