@import '~highlight.js/styles/vs2015.css';

.code-demo {
    .toggle {
      position: relative;
      float: right;
      cursor: pointer;
      
      &:hover {
        color: #00adee;
      }
    }

    .title {
      position: relative;
      // float: left;
    }

    .code-block {
      
    }
}