// @import '../../bilo-ui.scss';

$col-active: #00adee;
$dim-switch-width: 60px;
$dim-switch-height: 26px;

.switch-container {
    $padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 2 * #{$padding});
    padding: $padding;
    // margin-bottom: 0.5em;
}

.switch-title {
    color: white;
    &:hover {
        color: rgba($col-active, 1)
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: $dim-switch-width;
    height: $dim-switch-height;
}


/* Hide default HTML checkbox */

.switch-input {
    // display: none;
}

/* The slider */
.checkbox {
    background: rgba(white,0);
    color: rgba(white,0);
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(grey, 0.3);
    -webkit-transition: .4s;
    transition: .4s;
}

$dim-slide-size: 20px;
.slider:before {
    position: absolute;
    content: "";
    height: calc(#{$dim-slide-size} - 2px);
    width: calc(#{$dim-slide-size} - 2px);
    left: 8px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgba($col-active, 1);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba($col-active, 1);
}

input:checked+.slider:before {
    -webkit-transform: translateX($dim-switch-height);
    -ms-transform: translateX($dim-switch-height);
    transform: translateX($dim-switch-height);
}


/* Rounded sliders */

.slider.round {
    border-radius: $dim-switch-height;
}

.slider.round:before {
    border-radius: 50%;
}