@import '../../bilo-ui.scss';
@import '~highlight.js/styles/monokai.css';
$markdown-nav-size: 20em;
$markdown-height: calc(100%);
$padding: 2em;

.markdown-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}
.markdown-container {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: $markdown-height;
    padding: $padding;
    overflow-y: auto;
}

.markdown-nav {
    padding: $padding;
    width: calc(#{$markdown-nav-size} - 2 * #{$padding});
    height: $markdown-height;
    background: $col-background;
    color: $col-active;
    div {
        line-height: 1.8em;
    }
}

$code-col: #00adee;
$back-col: #eea230;
$green-col: rgb(41, 252, 153);
.code {
    color: $green-col;
    // border: 0.5px solid $code-col;
    background: rgba($code-col, 0.02);
    border-radius: 4px;
    padding: 1px;
    margin: 2px;
    font-weight: bold;
}

.markdown {
    width: 100%;
    height: 100%;
    line-height: 1.8em;
    margin: {
        left: auto;
        right: auto;
    }
    p,li,td {
        code {
            @extend .code;
            font-family: 'Courier New', Courier, monospace;
        }
    }
    pre {
        background: #333;
        color: white;
        padding: 1em;
        border-radius: 4px;
        overflow: auto;
    }

    a {
        color: $code-col;
    }
}