@import '../../bilo-ui.scss';

.toast-container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

$toast-height: 3em;
.toast {
  position: relative;
  // line-height: $toast-height;
  padding: 1em;
  margin-bottom: 0.25em;
  z-index: 10;
}

.toast-primary {
  @extend .toast;
  background: $col-active;
  color: white;
}
.toast-warning {
  @extend .toast;
  background: orange;
  color: white;
}

.toast-secondary {
  @extend .toast;
  background: #333;
  color: white;
}