@import '~leaflet/dist/leaflet.css';

.map-container {
    position: relative;
    background: grey;
    width: 100%;
    height: 100%;
}

.map-component {
    position: absolute;
    background: lightpink;
    width: 100%;
    height: 100%;
}