@import '../../bilo-ui.scss';

$panel-width: 15em;
$panel-height: calc(100% - 3em);
$padding: 2em;
$background: #232323;
.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $panel-width;
  background: $background;
  overflow: hidden;
  overflow-y: auto;
}

$nav-item-size: 0.8em;
.nav-item {
  height: $nav-item-size;
  line-height: $nav-item-size;
  padding: $nav-item-size;
  font-size: $nav-item-size;
  color: rgba(white, 0.8);
  background: $background;
  cursor: pointer;
  a {
    text-decoration: none;
  }
  text-decoration: none;
  &:hover {
    color: $col-active;
    // background-color: rgba($col-active,0.2);
    border-right: 2px solid $col-active;
  }
}

.nav-item-active {
  color: $col-active;
  background-color: rgba($col-active,0.2);
  border-right: 2px solid $col-active;
}

.nav-content {
  position: fixed;
  top: 0;
  left: $panel-width;
  width: calc(100% - #{$panel-width + $padding + $padding});
  height: calc(100% - 2 * #{$padding});
  padding: $padding;
  overflow: hidden;
  overflow-y: auto;
}

.no-link {
  text-decoration: none;
}