@import '../../bilo-ui.scss'; 

.searchResults { 
   margin-top: calc(-1em - 2px); 
   display: flex; 
   flex-direction: row; 
   align-items: stretch; 

   $padding: 1em; 
   .searchItem { 
       position: relative; 
       height: 3em; 
       line-height: 3em; 
       width: calc( 100% - 2 * #{$padding}); 
       padding: { 
           left: $padding; 
           right: $padding; 
       } 
       background: white; 
       text-overflow: ellipsis;
       overflow-x: hidden; 

       &:hover { 
           color: $col-active; 
           cursor: pointer; 
       } 
   } 
} 
