@import '~highlight.js/styles/vs2015.css';

table {
  position: relative;
  width: 100%;
}
tr {
  line-height: 1.5;
  text-indent: 1em;
}
tbody tr:nth-child(odd){
  background-color: rgba(grey, 0.1);
  color: #fff;
}