$button-height: 3rem;

.button {
  position: relative;
  height: $button-height;
  padding: 0.5em;
  margin: {
    left: 0.5em;
    right: 0.5em;
  }

  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  // border: none;
}

.button-footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 1rem);
  margin: 0.5rem;
}

.primary {

  background: $col-active;
  border-color: $col-active;
  color: white;

  &:hover {
      background: white; 
      color: rgba($col-active, 0.5);
  }
}

$col-secondary: rgba(grey, 0.5);
.secondary {
  background: $col-secondary;
  border-color: $col-secondary;
  color: $col-active;
  
  &:hover {
      background: rgba($col-active, 0.2);
      color: $col-active;
  }
}

$col-warning: orange;
.warning {
  background: $col-warning;
  border-color: $col-warning;
  color: white;

  &:hover {
      background: rgba($col-warning, 0.2);
      color: white;
  }
}

$col-danger: red;
.danger {
  background: $col-danger;
  border-color: $col-danger;
  color: white;

  &:hover {
      background: rgba($col-danger, 0.2);
      color: white;
  }
}

.hollow {
  border-width: 1px;
  background: transparent;
  color: inherit;
}

.rounded {
  width: $button-height;
  height: $button-height;
  border-radius: 50%;//calc(#{$button-height} / 2);
  // padding: 0;
}

.filled {
  position: relative;
  border-radius: 0;
  width: 100%;
  margin: 0;
}
