$button-height: 3rem;
.button {
  position: relative;
  height: $button-height;
  padding: {
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
  }
  margin: {
    top:1em; 
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }

  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  // outline: none;
  // border: none;
}

.button-footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 1rem);
  margin: 0.5rem;
}

.primary {

  background: $col-active;
  border-color: $col-active;
  color: white;

  &:hover {
      background: white; 
      color: rgba($col-active, 0.5);
  }
}

$col-secondary: rgba(grey, 0.5);
.secondary {
  background: $col-secondary;
  border-color: $col-secondary;
  color: $col-active;
  
  &:hover {
      background: rgba($col-active, 0.2);
      color: $col-active;
  }
}

$col-warning: orange;
.warning {
  background: $col-warning;
  border-color: $col-warning;
  color: white;

  &:hover {
      background: rgba($col-warning, 0.2);
      color: white;
  }
}

.hollow {
  border-width: 1px;
  background: transparent;
}

.rounded {
  width: $button-height;
  height: $button-height;
  border-radius: 50%;//calc(#{$button-height} / 2);
  // padding: 0;
}

