@import './colors.scss';
.ws-input-style {
    position: relative;
    width: calc(100% - 0rem);
    // padding: 1rem;
    text-indent: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(grey, 0.1);
    color: inherit;
    font-size: 1.1em;
    border: none;
    outline: none;
    border-bottom: 1px solid $col-lightgrey;
    
    &:hover {
        border-bottom: 1px solid $col-active;
    }
    &:focus {
        border-bottom: 2px solid $col-active;
    }
}
input {
    @extend .ws-input-style;
}

textarea {
    @extend .ws-input-style;
    margin-bottom: 1em;
    max-width: 100%;
}
.button {
    background: transparent;
    color: $col-active;
    position: relative;
    height: 3rem;
    padding: {
        top: 1rem;
        bottom: 1rem;
        left: 3rem;
        right: 3rem;
    }
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 2px;
    border: 1px solid $col-active;
    cursor: pointer;
    .loading {
        color: transparent;
    }

    &:hover {
        background: rgba($col-active, 0.5);
        color: white;
    }
}

.button-footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1rem);
    margin: 0.5rem;
}