@import './colors.scss';

$dim-border-size: 1px;
$dim-loader-size: 0.8rem;
$col-loader: $col-active;

.loader {
    border: $dim-border-size solid rgba(white,0.1); /* Light grey */
    border-top: $dim-border-size solid $col-loader; /* Blue */
    border-radius: 50%;
    width: $dim-loader-size;
    height: $dim-loader-size;
    animation: spin 0.8s ease-in-out infinite;
    margin: 0;
    padding: 0.3rem;
    top: 0;
    // top: -0.5rem;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}